In [77]:
import pandas as pd;

In [78]:
# Utilizando o Pandas para ler um arquivo CSV e o argumento nrows para limitar o número de linhas lidas.

pd.read_csv('../data/pib_municipios_br_2020.csv', nrows=5)

,Municípios e respectivas\nUnidades da Federação,Posição ocu-\npada pelos\n100 maiores\nmunicípios,Produto Interno Bruto\na preços correntes\n(1 000 R$),Participação (%),Participação\nacumulada (%)
0,São Paulo (SP),1º,748 759 007,"9,84","9,84"
1,Rio de Janeiro (RJ),2º,331 279 902,"4,35","14,19"
2,Brasília (DF),3º,265 847 334,"3,49","17,69"
3,Belo Horizonte (MG),4º,97 509 893,"1,28","18,97"
4,Manaus (AM),5º,91 768 773,"1,21","20,17"

In [79]:
# Atribuindo o DataFrame para uma variável.

df = pd.read_csv('../data/pib_municipios_br_2020.csv')

In [80]:
# Alterando os nomes das colunas, removendo caracteres de nova linha.

df.columns = df.columns.str.replace('\n', ' ')

In [81]:
df.head(5)

,Municípios e respectivas Unidades da Federação,Posição ocu- pada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%)
0,São Paulo (SP),1º,748 759 007,"9,84","9,84"
1,Rio de Janeiro (RJ),2º,331 279 902,"4,35","14,19"
2,Brasília (DF),3º,265 847 334,"3,49","17,69"
3,Belo Horizonte (MG),4º,97 509 893,"1,28","18,97"
4,Manaus (AM),5º,91 768 773,"1,21","20,17"

In [82]:
# Alterando o nome da segunda coluna, removendo caracteres desnecessários.

df.columns = [col.replace("ocu- pada", "ocupada") for col in df.columns]
df.head(5)

,Municípios e respectivas Unidades da Federação,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%)
0,São Paulo (SP),1º,748 759 007,"9,84","9,84"
1,Rio de Janeiro (RJ),2º,331 279 902,"4,35","14,19"
2,Brasília (DF),3º,265 847 334,"3,49","17,69"
3,Belo Horizonte (MG),4º,97 509 893,"1,28","18,97"
4,Manaus (AM),5º,91 768 773,"1,21","20,17"

In [83]:
# Mudando valores das colunes para que possam ser convertidos para numéricos.

df['Posição ocupada pelos 100 maiores municípios'] = df['Posição ocupada pelos 100 maiores municípios'].str.replace('º','')
df['Produto Interno Bruto a preços correntes (1 000 R$)'] = df['Produto Interno Bruto a preços correntes (1 000 R$)'].str.replace(' ','')
df['Participação (%)'] = df['Participação (%)'].str.replace(',' ,'.')
df['Participação acumulada (%)'] = df['Participação acumulada (%)'].str.replace(',' ,'.')
df.head(5)

,Municípios e respectivas Unidades da Federação,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%)
0,São Paulo (SP),1,748759007,9.84,9.84
1,Rio de Janeiro (RJ),2,331279902,4.35,14.19
2,Brasília (DF),3,265847334,3.49,17.69
3,Belo Horizonte (MG),4,97509893,1.28,18.97
4,Manaus (AM),5,91768773,1.21,20.17

In [84]:
# Alterando os valores das colunas para o tipo numérico adequado.

df['Participação (%)'] = df['Participação (%)'].astype(float)
df['Participação acumulada (%)'] = df['Participação acumulada (%)'].astype(float)
df['Produto Interno Bruto a preços correntes (1 000 R$)'] = df['Produto Interno Bruto a preços correntes (1 000 R$)'].astype(int)
df['Posição ocupada pelos 100 maiores municípios'] = df['Posição ocupada pelos 100 maiores municípios'].astype(int)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Municípios e respectivas Unidades da Federação       100 non-null    object
 1   Posição ocupada pelos 100 maiores municípios         100 non-null    int64
 2   Produto Interno Bruto a preços correntes (1 000 R$)  100 non-null    int64
 3   Participação (%)                                     100 non-null    float64
 4   Participação acumulada (%)                           100 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 4.0+ KB

In [86]:
df['Municípios e respectivas Unidades da Federação'].head(5)

0         São Paulo (SP)
1    Rio de Janeiro (RJ)
2          Brasília (DF)
3    Belo Horizonte (MG)
4            Manaus (AM)
Name: Municípios e respectivas Unidades da Federação, dtype: object

In [87]:
# Criando duas novas colunas, uma para o nome da cidade e outra para o estado, a partir da coluna 'Municípios e respectivas Unidades da Federação'.

df['Cidades'] = df['Municípios e respectivas Unidades da Federação'].str.split('(').str[0]  
df['Estados'] = df['Municípios e respectivas Unidades da Federação'].str.split('(').str[1].str.replace(')', '')
df

,Municípios e respectivas Unidades da Federação,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%),Cidades,Estados
0,São Paulo (SP),1,748759007,9.84,9.84,São Paulo,SP
1,Rio de Janeiro (RJ),2,331279902,4.35,14.19,Rio de Janeiro,RJ
2,Brasília (DF),3,265847334,3.49,17.69,Brasília,DF
3,Belo Horizonte (MG),4,97509893,1.28,18.97,Belo Horizonte,MG
4,Manaus (AM),5,91768773,1.21,20.17,Manaus,AM
...,...,...,...,...,...,...,...
95,Americana (SP),96,12078627,0.16,52.29,Americana,SP
96,Paranaguá (PR),97,12069503,0.16,52.45,Paranaguá,PR
97,Chapecó (SC),98,11954532,0.16,52.61,Chapecó,SC
98,São Francisco do Conde (BA),99,11926908,0.16,52.76,São Francisco do Conde,BA
99,Rio Verde (GO),100,11872211,0.16,52.92,Rio Verde,GO

In [88]:
# Criando uma coluna para a região do estado.

regioes = {
    'Norte': ['AC', 'AP', 'AM', 'PA', 'RO', 'RR', 'TO'],
    'Nordeste': ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE'],
    'Centro-Oeste': ['DF', 'GO', 'MT', 'MS'],
    'Sudeste': ['ES', 'MG', 'RJ', 'SP'],
    'Sul': ['PR', 'RS', 'SC']
}

estado_para_regiao = {estado: regiao for regiao, estados in regioes.items() for estado in estados}

df['Regioes'] = df['Estados'].map(estado_para_regiao)

In [89]:
df.columns

Index(['Municípios e respectivas Unidades da Federação',
       'Posição ocupada pelos 100 maiores municípios',
       'Produto Interno Bruto a preços correntes (1 000 R$)',
       'Participação (%)', 'Participação acumulada (%)', 'Cidades', 'Estados',
       'Regioes'],
      dtype='object')

In [90]:
# Ordenando as colunas do DataFrame para melhor visualização.

colunas_ordenadas = ['Cidades', 'Estados', 'Regioes', 
                     'Posição ocupada pelos 100 maiores municípios', 
                     'Produto Interno Bruto a preços correntes (1 000 R$)', 
                     'Participação (%)', 
                     'Participação acumulada (%)']

df = df[colunas_ordenadas]

In [ ]:
# Verificando o número total de municípios por Região.

df.Regioes.value_counts()

Regioes
Sudeste         55
Sul             17
Nordeste        14
Centro-Oeste     8
Norte            6
Name: count, dtype: int64

In [ ]:
# Verificando o número total de municípios por Estado.

df.Estados.value_counts()

Estados
SP    35
RJ    10
PR     9
MG     7
SC     5
BA     4
PA     4
GO     4
PE     3
RS     3
ES     3
MT     2
DF     1
AM     1
CE     1
MS     1
MA     1
AL     1
RN     1
PI     1
PB     1
RO     1
SE     1
Name: count, dtype: int64

In [99]:
# Calculando o Pib total por Estado e Região.

pib_por_estado = df.groupby('Estados')['Produto Interno Bruto a preços correntes (1 000 R$)'].sum()
pib_por_regiao = df.groupby('Regioes')['Produto Interno Bruto a preços correntes (1 000 R$)'].sum()

In [95]:
pib_total_por_regiao_coluna = df.groupby('Regioes')['Produto Interno Bruto a preços correntes (1 000 R$)'].transform('sum')
pib_total_por_estado_coluna = df.groupby('Estados')['Produto Interno Bruto a preços correntes (1 000 R$)'].transform('sum')

In [ ]:
# Calculando e criando a coluna de contribuição do Estado na sua respectiva Região.

df['Contribuicao_Estado_na_Regiao (%)'] = ((pib_total_por_estado_coluna / pib_total_por_regiao_coluna) * 100).round(2)
df.head(30)

,Cidades,Estados,Regioes,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%),Contribuicao_Estado_na_Regiao (%)
0,São Paulo,SP,Sudeste,1,748759007,9.84,9.84,65.77
1,Rio de Janeiro,RJ,Sudeste,2,331279902,4.35,14.19,22.29
2,Brasília,DF,Centro-Oeste,3,265847334,3.49,17.69,61.92
3,Belo Horizonte,MG,Sudeste,4,97509893,1.28,18.97,9.42
4,Manaus,AM,Norte,5,91768773,1.21,20.17,42.58
5,Curitiba,PR,Sul,6,88308728,1.16,21.33,49.17
6,Osasco,SP,Sudeste,7,76311814,1.00,22.34,65.77
7,Porto Alegre,RS,Sul,8,76074563,1.00,23.34,25.41
8,Guarulhos,SP,Sudeste,9,65849311,0.87,24.20,65.77
9,Campinas,SP,Sudeste,10,65419717,0.86,25.06,65.77
10,Fortaleza,CE,Nordeste,11,65160893,0.86,25.92,16.64
11,Salvador,BA,Nordeste,12,58938115,0.77,26.69,28.53
12,Goiânia,GO,Centro-Oeste,13,51961311,0.68,27.38,21.89
13,Barueri,SP,Sudeste,14,51254572,0.67,28.05,65.77
14,Jundiaí,SP,Sudeste,15,51235050,0.67,28.72,65.77
15,Recife,PE,Nordeste,16,50311002,0.66,29.38,19.72
16,São Bernardo do Campo,SP,Sudeste,17,48614342,0.64,30.02,65.77
17,Duque de Caxias,RJ,Sudeste,18,47153673,0.62,30.64,22.29
18,Niterói,RJ,Sudeste,19,40949495,0.54,31.18,22.29
19,São José dos Campos,SP,Sudeste,20,39148012,0.51,31.69,65.77
20,Paulínia,SP,Sudeste,21,38572766,0.51,32.20,65.77
21,Parauapebas,PA,Norte,22,38014863,0.50,32.70,48.40
22,Uberlândia,MG,Sudeste,23,37631537,0.49,33.20,9.42
23,Sorocaba,SP,Sudeste,24,36723769,0.48,33.68,65.77
24,Joinville,SC,Sul,25,36391912,0.48,34.16,25.42
25,Maricá,RJ,Sudeste,26,35618327,0.47,34.62,22.29
26,Ribeirão Preto,SP,Sudeste,27,35218869,0.46,35.09,65.77
27,Itajaí,SC,Sul,28,33084145,0.43,35.52,25.42
28,São Luís,MA,Nordeste,29,33074010,0.43,35.96,8.45
29,Belém,PA,Norte,30,30835763,0.41,36.36,48.40

In [ ]:
# Visualizando a contribuição do Estado na sua respectiva Região.

contribuicao_por_regiao_estado = df.groupby(['Regioes', 'Estados'])['Contribuicao_Estado_na_Regiao (%)'].mean().round(2)
contribuicao_por_regiao_estado

Regioes       Estados
Centro-Oeste  DF         61.92
              GO         21.89
              MS          7.02
              MT          9.17
Nordeste      AL          5.84
              BA         28.53
              CE         16.64
              MA          8.45
              PB          5.30
              PE         19.72
              PI          5.51
              RN          5.80
              SE          4.20
Norte         AM         42.58
              PA         48.40
              RO          9.02
Sudeste       ES          2.51
              MG          9.42
              RJ         22.29
              SP         65.77
Sul           PR         49.17
              RS         25.41
              SC         25.42
Name: Contribuicao_Estado_na_Regiao (%), dtype: float64