In [1]:
import pandas as pd;

In [2]:
# Utilizando o Pandas para ler um arquivo CSV e o argumento nrows para limitar o número de linhas lidas.

pd.read_csv('../data/pib_municipios_br_2020.csv', nrows=5)

,Municípios e respectivas\nUnidades da Federação,Posição ocu-\npada pelos\n100 maiores\nmunicípios,Produto Interno Bruto\na preços correntes\n(1 000 R$),Participação (%),Participação\nacumulada (%)
0,São Paulo (SP),1º,748 759 007,"9,84","9,84"
1,Rio de Janeiro (RJ),2º,331 279 902,"4,35","14,19"
2,Brasília (DF),3º,265 847 334,"3,49","17,69"
3,Belo Horizonte (MG),4º,97 509 893,"1,28","18,97"
4,Manaus (AM),5º,91 768 773,"1,21","20,17"

In [3]:
# Atribuindo o DataFrame para uma variável.

df = pd.read_csv('../data/pib_municipios_br_2020.csv')

In [4]:
# Alterando os nomes das colunas, removendo caracteres de nova linha.

df.columns = df.columns.str.replace('\n', ' ')

In [5]:
df.head(5)

,Municípios e respectivas Unidades da Federação,Posição ocu- pada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%)
0,São Paulo (SP),1º,748 759 007,"9,84","9,84"
1,Rio de Janeiro (RJ),2º,331 279 902,"4,35","14,19"
2,Brasília (DF),3º,265 847 334,"3,49","17,69"
3,Belo Horizonte (MG),4º,97 509 893,"1,28","18,97"
4,Manaus (AM),5º,91 768 773,"1,21","20,17"

In [6]:
# Alterando o nome da segunda coluna, removendo caracteres desnecessários.

df.columns = [col.replace("ocu- pada", "ocupada") for col in df.columns]
df.head(5)

,Municípios e respectivas Unidades da Federação,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%)
0,São Paulo (SP),1º,748 759 007,"9,84","9,84"
1,Rio de Janeiro (RJ),2º,331 279 902,"4,35","14,19"
2,Brasília (DF),3º,265 847 334,"3,49","17,69"
3,Belo Horizonte (MG),4º,97 509 893,"1,28","18,97"
4,Manaus (AM),5º,91 768 773,"1,21","20,17"

In [7]:
# Mudando valores das colunes para que possam ser convertidos para numéricos.

df['Posição ocupada pelos 100 maiores municípios'] = df['Posição ocupada pelos 100 maiores municípios'].str.replace('º','')
df['Produto Interno Bruto a preços correntes (1 000 R$)'] = df['Produto Interno Bruto a preços correntes (1 000 R$)'].str.replace(' ','')
df['Participação (%)'] = df['Participação (%)'].str.replace(',' ,'.')
df['Participação acumulada (%)'] = df['Participação acumulada (%)'].str.replace(',' ,'.')
df.head(5)

,Municípios e respectivas Unidades da Federação,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%)
0,São Paulo (SP),1,748759007,9.84,9.84
1,Rio de Janeiro (RJ),2,331279902,4.35,14.19
2,Brasília (DF),3,265847334,3.49,17.69
3,Belo Horizonte (MG),4,97509893,1.28,18.97
4,Manaus (AM),5,91768773,1.21,20.17

In [8]:
# Alterando os valores das colunas para o tipo numérico adequado.

df['Participação (%)'] = df['Participação (%)'].astype(float)
df['Participação acumulada (%)'] = df['Participação acumulada (%)'].astype(float)
df['Produto Interno Bruto a preços correntes (1 000 R$)'] = df['Produto Interno Bruto a preços correntes (1 000 R$)'].astype(int)
df['Posição ocupada pelos 100 maiores municípios'] = df['Posição ocupada pelos 100 maiores municípios'].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Municípios e respectivas Unidades da Federação       100 non-null    object
 1   Posição ocupada pelos 100 maiores municípios         100 non-null    int64
 2   Produto Interno Bruto a preços correntes (1 000 R$)  100 non-null    int64
 3   Participação (%)                                     100 non-null    float64
 4   Participação acumulada (%)                           100 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 4.0+ KB

In [10]:
df['Municípios e respectivas Unidades da Federação'].head(5)

0         São Paulo (SP)
1    Rio de Janeiro (RJ)
2          Brasília (DF)
3    Belo Horizonte (MG)
4            Manaus (AM)
Name: Municípios e respectivas Unidades da Federação, dtype: object

In [16]:
df['Cidades'] = df['Municípios e respectivas Unidades da Federação'].str.split('(').str[0]  
df['Estados'] = df['Municípios e respectivas Unidades da Federação'].str.split('(').str[1].str.replace(')', '')
df

,Municípios e respectivas Unidades da Federação,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%),Cidades,Estados
0,São Paulo (SP),1,748759007,9.84,9.84,São Paulo,SP
1,Rio de Janeiro (RJ),2,331279902,4.35,14.19,Rio de Janeiro,RJ
2,Brasília (DF),3,265847334,3.49,17.69,Brasília,DF
3,Belo Horizonte (MG),4,97509893,1.28,18.97,Belo Horizonte,MG
4,Manaus (AM),5,91768773,1.21,20.17,Manaus,AM
...,...,...,...,...,...,...,...
95,Americana (SP),96,12078627,0.16,52.29,Americana,SP
96,Paranaguá (PR),97,12069503,0.16,52.45,Paranaguá,PR
97,Chapecó (SC),98,11954532,0.16,52.61,Chapecó,SC
98,São Francisco do Conde (BA),99,11926908,0.16,52.76,São Francisco do Conde,BA
99,Rio Verde (GO),100,11872211,0.16,52.92,Rio Verde,GO

In [17]:
df.columns

Index(['Municípios e respectivas Unidades da Federação',
       'Posição ocupada pelos 100 maiores municípios',
       'Produto Interno Bruto a preços correntes (1 000 R$)',
       'Participação (%)', 'Participação acumulada (%)', 'Cidades', 'Estados'],
      dtype='object')

In [19]:
colunas_ordenadas = ['Cidades', 'Estados']

colunas_ordenadas.append('Posição ocupada pelos 100 maiores municípios')
colunas_ordenadas.append('Produto Interno Bruto a preços correntes (1 000 R$)')
colunas_ordenadas.append('Participação (%)')
colunas_ordenadas.append('Participação acumulada (%)')
colunas_ordenadas

['Cidades',
 'Estados',
 'Posição ocupada pelos 100 maiores municípios',
 'Produto Interno Bruto a preços correntes (1 000 R$)',
 'Participação (%)',
 'Participação acumulada (%)']

In [22]:
df = df[colunas_ordenadas]

In [23]:
df

,Cidades,Estados,Posição ocupada pelos 100 maiores municípios,Produto Interno Bruto a preços correntes (1 000 R$),Participação (%),Participação acumulada (%)
0,São Paulo,SP,1,748759007,9.84,9.84
1,Rio de Janeiro,RJ,2,331279902,4.35,14.19
2,Brasília,DF,3,265847334,3.49,17.69
3,Belo Horizonte,MG,4,97509893,1.28,18.97
4,Manaus,AM,5,91768773,1.21,20.17
...,...,...,...,...,...,...
95,Americana,SP,96,12078627,0.16,52.29
96,Paranaguá,PR,97,12069503,0.16,52.45
97,Chapecó,SC,98,11954532,0.16,52.61
98,São Francisco do Conde,BA,99,11926908,0.16,52.76
99,Rio Verde,GO,100,11872211,0.16,52.92